body {
	text-align: left;
	font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #061C37;
	background: #014D5D url(pics/back.jpg);
	background-repeat:repeat;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}
#logo{
	float:left;
	margin-bottom:1pt;
	margin-left:auto;
	margin-right:auto;
	
}
.contact a:hover
{
color:red;
}

#hp2{
	font-size:1.25em;
	margin-right:15pt;
	margin-left:25pt;
	margin-top:20pt;
}
#page
{
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 670pt;
}
#mainPicture
{
margin-left:5pt;
margin-top: 2pt;
float:left;
margin-right:20px;
}

#text
{
	margin-left:5pt;

	font-size:1.85em;
	line-height:230%;
}
#mainPicture.picture
{
margin-right:20pt;
padding-right:200px;

}
#description
{
text-align:right;
border:5px ridge black;
margin-top:20px;
font-size:1.5em;
}

/*  photo gallery title : es
-------------------------------------------------------------- */
#phg-title
{
	text-align:center;
}


/*  Photo Gallery style code : es
-------------------------------------------------------------- */
.galleria{ width: 755px; height: 500px; background: #fff ;}
/* results-subtitle : es
-------------------------------------------------------------- */
.results-subtitle{
	text-align:center;
	font-size:1.5em;

}
.results-pg{
	margin: 0 auto;
	font-size:1.2em;
	width:850px;

}

/* news pages links : es
-------------------------------------------------------------- */
 .news-link{
	width:700px;
	
	margin: 0 auto; 
	text-align:center;
	
	font-size:1.5em;

}


.text-3nw{
	text-align:center;
}

#news-links a:link{
    color:blue;
    text-decoration: none;
}

#news-links a:hover, a:focus{
	color:red;
	font-style:oblique;
	font-size:1em;
}

#news-links a:active{color:black}

#news-links a:visited{color:black}

/* results page title
-------------------------------------------------------------- */
/* results page title
-------------------------------------------------------------- */
/* results page title
-------------------------------------------------------------- */
/* results page title
-------------------------------------------------------------- */
/* results page title
-------------------------------------------------------------- */
/* results page title
-------------------------------------------------------------- */




/*#headerTitle
{
position:relative;
top:5pt;
left:40px;
font-size:25px;
color:#FFFFFF;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

/*#headerSubtext
{
position:relative;
top:30px;
left:50px;
font-size:14px;
color:#A9C8FA;
font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

.contentBox
{
width:670px;
height:auto;
background-color:#FFFFFF;
margin-top:10px;
}

.contentBox .innerBox
{
position:relative;
width:650px;
height:auto;
top:10px;
margin-left:10px;
background-image:url(content_back.png);
background-repeat:repeat-x;
padding-bottom:35px;
}

.contentTitle
{
font-size:19px;
margin-bottom:0px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
}

.contentText
{
font-size:13px;
line-height:24px;
margin-left:13px;
margin-right:13px;
}

#footer {

width: 670px;
height:16px;
background: url(footer.png) no-repeat;
text-align:center;
font-size:9px;
font-family:Arial, Helvetica, sans-serif;
color:#386172;
padding-top:5px;
}

#footer a
{
text-decoration:none;
font-size:9px;
color:#386172;
}

html, body {
text-align: center;
}

*/